.meter {
  width: 100%;
  background-color: #ccc;
  border-radius: 4px;
  height: 4px;
  position: relative;
  &:hover span.knob,
  &:focus span.knob {
    display: block;
  }
  span.knob {
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background-color: #ddd;
    transform: translateY(-6px);
    display: none;
    background-image: linear-gradient(to right, #9f006c, #c8125c, #e34147);
    cursor: pointer;
    &.keep-visible {
      display: block;
    }
  }
  & > span {
    display: block;
    height: 100%;
    border-radius: 4px;
    // background-image: linear-gradient(to right, #000075, #6f0071, #aa0060, #d40046, #ed1c24);
    background-image: linear-gradient(to right, #191974, #6a0975, #9f006c, #c8125c, #e34147);
  }
}
